MONITOR_SITE_PASSWORD=<choose-a-strong-password>
TELESCOPE_CONNECTION_FILE=/var/lib/telescope-next/connections.json
TELESCOPE_CONTROL_FILE=/var/lib/telescope-next/connection-control.json
TELESCOPE_AUTO_CONNECT=true
TELESCOPE_WSS_TAKEOVER_YIELD_DURATION=2h
SERVER_ADDRESS=127.0.0.1
SERVER_PORT=8081
SESSION_COOKIE_SECURE=true
